html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
  overflow-y: hidden;
}

.container-fluid {
  padding: 0 !important;
}

.service-logo {
  height: 25%;
  margin-left: 30px;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.header-right {
  margin: auto 30px;
}

.profile-image {
  width: 30px;
  height: 30px;
  margin: 15px 0;
  background-color: white;
  vertical-align: middle;
}

.profile-email {
  margin-left: 10px;
  color: white;
  vertical-align: middle;
}

.profile-drop {
  margin-left: 8px;
}

.profile-noti {
  vertical-align: middle;
  margin-left: 30px;
  padding: 0;
}

.profile-setting {
  vertical-align: middle;
  margin-left: 25px;
}

.divider {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.sidebar {
  height: 100%;
}

.panel-wrapper {
  color: black;
  background-color: #EEEEEE;
  height: 100%;
  position: relative;
}

.panel-list {
  height: 100%;
  background-color: #EEEEEE;
  overflow-y: scroll;
}

.sidebar-title-wrapper {
  background-color: rgba(240,240,240,1);
  padding: 18px;
  padding-left: 40px;
  color: grey;
}

.sidebar-list {
  margin-left: 20px;
}

.panel-header {
  background-color: rgba(40, 40, 40, 1);
  padding: 18px;
  padding-left: 30px;
  color: white;
}

.panel-fab {
  position: absolute;
  right: 285px;
  top: 30px;
}

.panelitem-wrapper {
  margin-top: 25px;
  margin-bottom: 25px;
}

.panelitem-title {
  font-size: 1.5em;
  font-weight: bold;
}

.panelitem-area {
  margin-top: 10px;
  background-color: white;
  box-shadow: 1px 1px 5px #888888;
}

.panelitem-area-header {
  background-color: #DDDDDD;
  padding: 10px 20px;
}

.panelitem-area-author {
  margin-left: 15px;
}

.panelitem-area-detail {
  position: relative;
  padding: 20px;
  padding-bottom: 50px;
  color: grey;
}

.profilebar-image {
  position: relative;
  background-color: #555555;
  width: 60px;
  height: 60px;
  padding: 0 !important;
}

.profilebar-name {
  color: #555555;
  font-size: 1.4em;
  margin: 0;
}

.profilebar-email {
  color: #555555;
  margin: 0;
}

.profilebar-setting {
  margin-top: 20px !important;
  margin-left: 20px !important;
}

.profilebar-name {

}

.profilebar-info {
  margin-top: 5px;
  vertical-align: middle;
  height: 60px;
}

.panel-item {
  padding: 10px;
}

.panel-grid {
  margin-top: 20px;
}

.panel-item-wrapper {
  background-color: white;
}

.panel-item-header {
  background-color: #DDDDDD;
  padding: 10px 15px;
}

.panel-item-body {
  background-color: white;
  padding: 15px;
  color: #555555;
}

.hover-a:hover, .hover-a:focus {
  text-decoration: none;
}


